@font-face {
    font-family: KumbhSans-Regular;
    src: url(fonts/ttf/KumbhSans-Regular.ttf);
}

@font-face {
    font-family: KumbhSans-Bold;
    src: url(fonts/ttf/KumbhSans-Bold.ttf);
}

body {
    margin: 0px;
    padding: 0px;
    font-family: KumbhSans-Bold, KumbhSans-Regular;
}

* {
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
}

.nav {
    width: 80%;
    border-bottom: 1px solid hsl(223, 64%, 95%);
    display: flex;
    justify-content: space-between;
    height: 100%;
    border: px solid blue;
}

.hamburger {
    border: px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    display: none;
}

#ham {
    background-color: hsl(218, 7%, 33%);
    width: 18px;
    height: 3px;
    margin: 1.5px;
}

.cross {
    display: none;
}

.main {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: px solid rgb(255, 196, 1);
}

.main-title {
    display: flex;
    align-items: center;
    margin-right: 10px;
    border: px solid purple;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    height: 100%;
    width: 40vw;
    justify-content: space-evenly;
    border: px solid green;
}

.nav-links li {
    display: flex;
    width: 20%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: px solid red;
}

.nav-links a {
    display: flex;
    color: hsl(219, 9%, 45%);
    font-size: 70%;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: KumbhSans-Regular;
    font-weight: 400;
    text-decoration: none;
    border: px solid blue;
}

.nav-links a:hover {
    color: black;
}

.head {
    font-size: 30px;
    font-family: KumbhSans-Bold;
    font-stretch: extra-expanded;
    font-weight: 700;
    letter-spacing: -1px;
    color: black;
}

.side {
    border: px solid red;
    display: flex;
    align-items: center;
    justify-self: flex-end;
    justify-content: space-between;
    justify-self: flex-end;
    padding: 12px 0px 13px 0px;
    margin-left: 2px;
}

.cart {
    height: 30%;
    width: 15%;
    border: px solid green;
}

.avatar {
    height: 50%;
    width: 50%;
    margin-left: 20%;
    border: px solid blue;
}

.avatar:hover {
    border-radius: 70px solid hsl(26, 100%, 55%);
}

.cartlist {
    display: none;
    position: absolute;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 1px 8px 15px rgb(156, 156, 156);
    width: 22%;
    top: 70px;
    right: 80px;
    background-color: white;
}

.cartup {
    position: relative;
    width: 100%;
    height: 20%;
    padding-left: 10px;
    border-bottom: 1px solid hsl(223, 64%, 95%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.cartup1 {
    font-size: 1.2vw;
}

.cartdown {
    position: relative;
    border: px solid blue;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#cartdown1 {
    display: block;
    border: px solid blue;
    font-family: KumbhSans-Regular;
    font-size: 1.2vw;
    color: hsl(220, 14%, 75%);
}

#cartitem {
    border: px solid blue;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    display: none;
}

.cartitem1 {
    border: px solid blue;
    width: 98%;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartimg {
    border-radius: 4px;
    height: 20%;
    width: 15%;
}

.cartitem1text {
    font-size: 0.8vw;
    font-family: KumbhSans-Regular;
    text-transform: capitalize;
    margin: 0px;
    border: px solid blue;
    color: hsl(218, 3%, 51%);
}

.cartside {
    border: px solid blue;
    display: flex;
    height: 3vw;
    margin-left: 8px;
    margin-top: 8px;
    flex-direction: column;
    justify-content: center;
}

.cartprice {
    border: px solid blue;
    display: flex;
    text-align: center;
    height: 20px;
}

#dollar {
    margin: 0px;
    font-size: 0.8vw;
    font-family: KumbhSans-Regular;
    color: hsl(218, 3%, 51%);
}

#multiply {
    margin: 0px;
    margin-left: 2px;
    font-size: 0.8vw;
    font-family: KumbhSans-Regular;
    color: hsl(218, 3%, 51%);
}

#tquantity {
    margin: 0px;
    margin-left: 3px;
    font-size: 0.8vw;
    font-family: KumbhSans-Regular;
    color: hsl(218, 3%, 51%);
}

#dollasign {
    margin: 0px;
    margin-left: 2px;
    font-size: 0.8vw;
    font-family: KumbhSans-Regular;
    font-weight: bolder;
    color: black;
}

#tprice {
    margin: 0px;
    font-size: 0.8vw;
    color: black;
    font-family: KumbhSans-Regular;
    font-weight: bolder;
}

.del {
    margin-left: 12px;
    margin-right: 0px;
    width: 1vw;
}

#cartitem2 {
    border: px solid blue;
    width: 100%;
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 20px;
    display: none;
}

.checkbtn {
    border: px solid blue;
    width: 90%;
    font-size: 1vw;
    padding: 0.7vw 0vw 0.7vw 0vw;
    border-radius: 5px;
    font-family: KumbhSans-Regular;
    background-color: hsl(26, 100%, 55%);
    color: hsl(0, 21%, 93%);
    outline: none;
    border: none;
    box-shadow: 1px 1px 5px black;
    text-align: center;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    border: px solid blue;
}

.section2 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    border: px solid blue;
}

.left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 45px;
    border: px solid purple;
}

.right {
    margin-top: 3vw;
    margin-right: 5vw;
    width: 40%;
    display: flex;
    flex-direction: column;
    border: px solid green;
}

.up {
    width: 100%;
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    height: 80%;
}

.down {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 40%;
    border: px solid blue;
}

.up img {
    border-radius: 8px;
}

.row>.column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Create four equal columns that floats next to eachother */

.column {
    float: left;
    width: 23%;
    margin: 1px;
}


/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: black;
    background-size: contain;
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 40%;
    max-width: 320px;
}


/* The Close Button */

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}


/* Hide the slides by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* Caption text */

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
    height: 100%;
    width: 100%;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.down img {
    border-radius: 8px;
    margin-top: 15px;
}

.down img:hover {
    border: 1px solid hsl(26, 100%, 55%);
}

.right .sneaker {
    color: hsl(26, 100%, 55%);
    font-family: KumbhSans-Bold;
    text-transform: uppercase;
    font-stretch: extra-expanded;
    font-size: 0.8vw;
    margin-bottom: 20px;
    border: px solid blue;
}

.right h3 {
    margin-top: -15px;
    margin-bottom: 15px;
    padding-top: 5px;
    width: 85%;
    font-family: KumbhSans-Bold;
    font-size: 2.5vw;
    line-height: 2.5vw;
    border: px solid blue;
}

.right p {
    margin-top: -1px;
    font-family: KumbhSans-Regular;
    font-size: 1vw;
    margin-bottom: 10px;
    border: px solid blue;
}

.price {
    margin-top: -5px;
    display: flex;
    flex-wrap: wrap;
    width: 33%;
    align-items: center;
    justify-content: start;
    padding-top: 10px;
    border: px solid blue;
}

.price1 {
    display: flex;
    align-items: center;
    width: 50%;
    height: 30px;
    padding-top: 2px;
    border: px solid blue;
}

.price2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20%;
    height: 10px;
    background-color: hsl(25, 100%, 94%);
    border: px solid blue;
}

.price3 {
    display: flex;
    align-items: center;
    width: 40%;
    margin-top: px;
    height: 10px;
}

.price h4 {
    font-family: KumbhSans-Bold;
    font-size: 1.2vw;
}

.price h5 {
    font-family: KumbhSans-Bold;
    font-size: 0.6vw;
    align-items: center;
    color: hsl(26, 100%, 55%);
}

.price .discount {
    font-family: KumbhSans-Bold;
    font-size: 0.8vw;
    text-align: center;
    text-decoration: line-through;
    color: hsl(220, 14%, 65%);
}

.buy {
    display: flex;
    margin-top: 20px;
    width: 100%;
    border: px solid blue;
}

.quantity {
    border: px solid blue;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
}

.quant1 {
    display: flex;
    border: px solid brown;
}

.quant2 {
    display: flex;
    background-color: hsl(220, 14%, 89%);
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: px solid brown;
}

.quant3 {
    display: flex;
    border: px solid brown;
}

.quantity .minus {
    width: 3vw;
    text-align: center;
    border: none;
    border-radius: 5px 0px 0px 5px;
    background-color: hsl(220, 14%, 89%);
    padding: 0px;
    outline: none;
}

.input {
    font-size: 1vw;
    width: 3vw;
}

.quantity .plus {
    width: 3vw;
    text-align: center;
    border: none;
    border-radius: 0px 5px 5px 0px;
    background-color: hsl(220, 14%, 89%);
    padding: 0px;
    outline: none;
}

.add {
    border: px solid blue;
    margin-left: 10px;
    display: flex;
    border-radius: 5px;
    width: 60%;
    background-color: hsl(26, 100%, 55%);
    justify-content: center;
    align-items: center;
}

.add1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9vw;
    margin-left: 10px;
    color: hsl(220, 14%, 45%);
}

@media (max-width: 600px) {
    .main {
        display: flex;
        position: absolute;
        flex-direction: column;
        z-index: 2;
        height: 100%;
        width: 70%;
        background-color: white;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        display: none;
    }
    .nav-links {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0%;
        margin: 5vw 0%;
        height: 40vw;
        width: 70%;
        justify-content: space-evenly;
    }
    .nav-links li {
        width: 100%;
        height: 6vw;
        margin-top: 5px;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: px solid red;
    }
    .nav-links a {
        display: flex;
        padding-left: 2vw;
        color: hsl(210, 3%, 14%);
        font-size: 4vw;
        align-items: flex-start;
        justify-content: start;
        font-family: KumbhSans-Regular;
        font-weight: 400;
        text-decoration: none;
        border: px solid blue;
    }
    .cross {
        display: block;
        border: px solid purple;
        width: 100%;
        margin-top: 4vw;
    }
    .cross img {
        margin-left: 4vw;
        width: 4vw;
    }
    .hamburger {
        display: flex;
    }
    .avatar {
        width: 30%;
        height: 30%;
        margin-top: 8px;
        margin-left: 20px;
    }
    .header {
        height: 50px;
    }
    .side {
        width: 25%;
    }
    .cart {
        width: 20%;
        height: 70%;
        margin-left: 0px;
    }
    .cartlist {
        width: 98%;
        right: 1%;
        height: 60vw;
    }
    .cartup1 {
        font-size: 4vw;
    }
    #cartdown1 {
        font-size: 4vw;
    }
    .cartitem1 {
        justify-content: flex-start;
        padding-left: 20px;
    }
    .cartimg {
        width: 10vw;
    }
    .cartside {
        height: 10vw;
        justify-content: center;
        margin-bottom: 5px;
        margin-left: 3vw;
    }
    .cartitem1text,
    #multiply,
    #dollar,
    #tquantity,
    #dollasign,
    #tprice {
        font-size: 4vw;
    }
    .del {
        width: 3vw;
        margin-left: 10vw;
    }
    .checkbtn {
        font-size: 4vw;
        height: 11vw;
    }
    .nav {
        width: 100%;
    }
    .main-title {
        margin-left: -20vw;
    }
    .section {
        margin-top: 0px;
    }
    .section2 {
        width: 100%;
        flex-direction: column;
    }
    .left {
        width: 100%;
        margin-left: 0px;
    }
    .up {
        height: 70vw;
    }
    .up img {
        border-radius: 0px;
    }
    .right {
        width: 92%;
        margin-top: 0px;
        align-self: center;
        margin-right: 0px;
    }
    .right .sneaker {
        font-size: 2.5vw;
    }
    .right h3 {
        font-size: 6vw;
        width: 80%;
        line-height: 6vw;
    }
    .right p {
        font-size: 3.7vw;
    }
    .price {
        width: 100%;
    }
    .price1 {
        width: 30%;
    }
    .price2 {
        width: 10vw;
        height: 6vw;
        margin-left: 10px;
        justify-content: center;
        padding-top: 3px;
    }
    .price3 {
        width: 20%;
        margin-left: 30vw;
        height: 7vw;
        padding-top: 4px;
    }
    .price h4 {
        font-size: 6vw;
    }
    .price h5 {
        font-size: 4vw;
    }
    .price .discount {
        font-size: 4vw;
    }
    .buy {
        flex-direction: column;
    }
    .quantity {
        width: 100%;
    }
    .quant1 {
        width: 20%;
        height: 10vw;
        align-items: center;
        justify-content: center;
        background-color: hsl(220, 14%, 89%);
    }
    .quant2 {
        width: 60%;
        height: 10vw;
    }
    .quant3 {
        width: 20%;
        height: 10vw;
        align-items: center;
        justify-content: center;
        background-color: hsl(220, 14%, 89%);
    }
    .input {
        font-size: 5vw;
    }
    .add {
        width: 100%;
        margin-left: 0px;
        margin-top: 5px;
        height: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .add1 img {
        width: 5vw;
    }
    .add2 h4 {
        font-size: 4vw;
        margin: 0px;
    }
    .down {
        display: none;
    }
}

@media (min-width:430px) and (max-width:600px) {
    .main-title {
        margin-left: -35vw;
    }
}

@media (min-width:383px) and ( max-width:430px) {
    .main-title {
        margin-left: -30vw;
    }
}

@media (min-width:340px) and ( max-width:383px) {
    .main-title {
        margin-left: -25vw;
    }
}

@media (min-width:240px) and ( max-width:340px) {
    .main-title {
        margin-left: -20vw;
    }
}